html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}



.loginPgMain{
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
   // blue
  background-color: #626a99;

  //background-image:  url('./images/marketing01.jpg');
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;

}
.loginPgLeft{
  flex: 1 auto;
  display: flex;
  min-height: 100%;
  align-items: flex-end;
  flex-flow: row nowrap;
  display:none;
}
.loginPgRight{
  flex: 2 auto;
  display: flex;
  min-height: 100%;
  align-items: flex-end;
  flex-flow: row nowrap;
}
.loginPgLeftBg{
  //background-image:  url('./images/material_bg.png');
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}



.Select-menu-outer {
  z-index: 1101 !important;
}



.GridRow {
  position: relative;
  display: flex;
  flex-direction: row;
}
.GridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.LeftSideGridContainer {
  flex: 0 0 75px;
  z-index: 10;
}

.LeftSideGrid {
  overflow: hidden !important;
}
.HeaderGrid {
  width: 100%;
  overflow: hidden !important;
}
.BodyGrid {
  width: 100%;
}

.evenRow {
}
.oddRow {
  background-color: rgba(0, 0, 0, .1);
}

.cell,
.headerCell,
.leftCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 .5em;
}
.headerCell,
.leftCell {
  font-weight: bold;
}